:root {
  color-scheme: light;
  background: rgb(252 250 246);
  --font-body: var(--font-fira-sans, system-ui);
  --font-heading: var(--font-pt-serif, Georgia, serif);
}

* {
  box-sizing: border-box;
}

body {
  min-width: 20rem;
  min-height: 100dvh;
  margin: 0;
}
